@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), 
  url('fonts/OpenSans-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: local('Open Sans'), local('OpenSans'), 
  url('fonts/OpenSans-Bold.ttf') format('truetype')
}

html, body ,#root, .App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  background: url(./images/background.png);
  background-position: center;
}

.Menu {
  display: flex;
  flex-direction: column;
  width: 12%;
  background-color: #000000;
  min-width: 230px;
}

.Menu a {
  cursor: default;
  text-decoration: none;
  color: #FFFFFF;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 40px;
  
  background: #17A1C1;
  border-radius: 2px;

  font-size: 16px;
  line-height: 22px;

  cursor: pointer;

  margin: 10% auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 40px;
  
  background: #17A1C1;
  border-radius: 2px;

  font-size: 16px;
  line-height: 22px;

  cursor: pointer;
}

.recognitionButtons {
  width: 95%;
  display: flex;
}

.recognitionBtn {
  margin: 13% auto;
}

.logo {
  text-align: center;
  margin: 5%;
}

.logoImg {
  margin: 5% 0;
}

.logoName {
  font-size: 25px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 0.1em;
}

.content {
  display: flex;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

.AddPerson, .Recognition {
  width: 85%;
  height: 87%;
  margin: auto;
  display: flex;
}

.loadedImage {
  width: 45%;
  border: 2px dashed #B2B1B7;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadedImage img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.people {
  /* margin: 3%; */
  width: 78%;
}

.image {
  height: 100px;
}

.recognitionData {
  width: 40%;
  height: 65%;

  margin: auto 0 auto 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-color: #504F54;
  border-radius: 2px;
}

.result {
  width: 80%;
  height: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.outputBlock {
  height: 23%;
}

.outputText {
  /* height: 35px; */
  height: 60%;
  border-radius: 2px;
  border: 2px solid #919095;
  margin-top: 1%;
  color: #E0E0E0;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding-left: 3%;
}

input.uploadInput {
  display: none;
}

.newPersonData {
  width: 38%;
  height: 85%;
  margin: auto 0 auto 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #504F54;
  border-radius: 2px;
}

.addPersonButtons {
  display: flex;
  flex-direction: column;
}

.addPersonBtn {
  margin: 25% 0;
}

.personData {
  width: 80%;
  height: 55%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.inputBlock {
  height: 15%;
}

.inputText {
  height: 50%;
  width: 95%;
  border-radius: 2px;
  border: 2px solid #919095;
  margin-top: 1%;
  color: #E0E0E0;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding-left: 3%;
  background: transparent;
}

.deleteButton {
  background: #F5264A;
  border-radius: 2px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  place-content: center;
  cursor: pointer;
  margin: auto;
}