html, body ,#root, .App {
  width: 100%;
  height: 100%;
}

.App {
  /* text-align: center; */
  background: linear-gradient(to bottom, #008AFF, #A8A6FF);
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* align-content: stretch; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* min-height: 100vh; */
  color: white;
}

.Menu {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 91%;
  background-color: #FBFBFB;
  box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.5);
  z-index: 0;
  min-width: 190px;
}

.Header {
  display: flex;
  height: 9%;
  justify-content: flex-end;
  background-color: #FBFBFB;
  width: 100%;
  box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.AddingPhoto, .Recognition {
  display: flex;
  height: 79%;
  width: 84%;
  margin: 3% 3%;
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
  background-color: #FBFBFB;
}

.logo {
  width: 61%;
  height: 100%;
}

.Menu a button {
  width: 90%;
  margin: 0 5%;
}

.Header a:first-child {
  margin-right: auto;
}

.Header svg {
  font-size: calc(16px + 2vmin);
} 

.Recognition {

}

.content {
  color: black;
}

.content {
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
}

.people {
  margin: 3%;
  width: 54%;
}

.people img {
  height: 100%;
}

.recognitionData {
  margin: 3%;
  width: 34%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

input.uploadInput {
  display: none;
}

.recognitionData button, .recognitionData label {
  margin: 5% 0%;
}


#delete {
  background-color: #008AFF;
}